<mat-form-field class="example-form-field">
  <mat-label>Search Movie</mat-label>
  <input matInput type="text" [(ngModel)]="movieName" />
  <button
    mat-button
    *ngIf="movieName"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="movieName = ''"
  >
    <mat-icon>close</mat-icon>
  </button> </mat-form-field
><button mat-raised-button color="primary" (click)="searchMovies()">
  Search
</button>

<mat-grid-list cols="{{ innerWidth / 310 }}" rowHeight="450px">
  <mat-grid-tile *ngFor="let movie of movies" class="example-grid-card">
    <mat-card class="example-card card-pick-shadow">
      <mat-card-header>
        <mat-card-title>
          <p class="card-title-flow">{{ movie.title }}</p>
        </mat-card-title>
        <mat-card-subtitle class="card-sub-title-flow">
          <p class="card-sub-title-flow">
            {{ movie.original_title }}
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        class="card-movie-image"
        src="{{
          movie.poster_path === null
            ? 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg'
            : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path
        }}"
        alt="{{ movie.title }}"
      />
      <mat-card-content>
        <p>Price: {{ movie.price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-mini-fab
          color="accent"
          aria-label="Decreate 1"
          (click)="movie.amount = movie.amount - 1 > 1 ? movie.amount - 1 : 1"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <label style="padding: 10px; font-size: 18px">{{ movie.amount }}</label>
        <button
          mat-mini-fab
          color="accent"
          aria-label="Increate 1"
          (click)="movie.amount = movie.amount + 1"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onClickAddToCart(movie)"
        >
          BUY
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
