<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle() && toggle(drawer)"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ this.title }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon [matBadge]="totalItem" matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
    <span class="cdk-visually-hidden"></span>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>
      <button
        routerLink="/todolist"
        routerLinkActive="active"
        mat-raised-button
        (click)="title = 'Todo List'"
      >
        Todo List
      </button>
    </p>
    <p>
      <button
        routerLink="/movie-manage"
        routerLinkActive="active"
        mat-raised-button
        (click)="title = 'Movie Manage'"
      >
        Movie Manage
      </button>
    </p>
    <p>
      <button
        routerLink="/movie-shop"
        routerLinkActive="active"
        mat-raised-button
        (click)="title = 'Movie Shop'"
      >
        Movie Shop
      </button>
    </p>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
